.about-section {
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    background: var(--primary-bg-color);
}

.about-section img {
    left: 0;
}

.about-section .about-container .content {
    margin-left: auto;
}